.mainCard{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.mainCardInput{
  padding: 10px 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.mainCardButton{
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: white;
}

.todoCart{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  border: 1px solid #cecece;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
